<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creating-layout-flex-css3</title>
    <style>
        section{
            border: 1px solid;
            padding: 10px;
            margin: 10px;
            display: flex;
        }
        div{
            border: 1px solid red;
            padding: 10px;
            margin: 10px;
            flex: 1;
        }
    </style>
</head>
<body>
    <!-- to load container / row / parent tag -->
    <section>
        <!-- to load item /column/children -->
         <div>product-1</div>
         <div>product-2</div>
         <div>product-3</div>
         <div>product-4</div>
    
</body>
</html>